@media only screen and (max-width: 810px) {    
    .menu ul {
    	display: none;
    }

    .menu {
    	justify-content: center;
    }

    .first-content img {
    	display: none;
    }

    .first-content .text-box {
    	justify-content: center;
    	margin: 0;
    }
}