* {padding: 0; margin: 0; font-family: 'Roboto', sans-serif;}

/*----------------------------Estilização do menu --------------------------------------*/
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0px 50px 0px 0px;
}

.menu li {
    transition: color 0.25s ease-in-out, transform 0.25s ease-in-out;
    margin: 0px 0px 0px 50px;
    font-size: 17px;
}

.menu li:hover {
    transform: scale(1.05);
    color: #93BEFF;
    cursor: pointer;
}

.menu li:active {
    transform: scale(.9);
}

.menu p {
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    margin: 30px 15px 30px 50px;
}

.menu p span {
    color: #93BEFF;
}

.menu .menu-mobile-button {
    display: none;
    margin: 30px 40px 30px 50px;
    font-size: 1.6rem;
}

/*----------------------------Estilização do primeiro container --------------------------------------*/

.first-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-content img {
    max-width: 45%;
    max-height: 45%;
    min-width: auto;
}

.first-content .text-box {
    width: 300px;
    margin: 0px 0px 0px 100px;
}

.first-content .text-box hr {
    width: 155px;
    color: #93BEFF;
    margin: 10px 0px 20px 0px;
}

.first-content .text-box p {
    font-size: 17px;
    font-weight: lighter;
}

/*----------------------------Estilização do segundo container --------------------------------------*/

.two-content {
    margin: 100px 0px 100px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.two-content .card {
    width: 240px;
    height: auto;
    max-height: 250px;
    padding: 50px;
    margin: 20px;
    background-color: #93BEFF;
    border-radius: 20px;
}

.two-content .card h1 {
    margin: 0px 0px 20px 0px;
}

.two-content .card p {
    font-size: 17px;
    font-weight: lighter;
}

/*----------------------------Estilização do footer --------------------------------------*/

footer {
    width: 100%;
    height: 70px;
    position: static;
    bottom: 0;
    background-color: #93BEFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0px 0px 0px 20px;
    font-size: 18px;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer a:hover {
    text-decoration: underline;
}

footer .social-icons {
    margin: 0px 20px 0px 0px;
}
footer .social-icons img {
    margin: 0px 0px 0px 10px;
    transition: color 0.25s ease-in-out, transform 0.25s ease-in-out;
}

footer .social-icons img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

footer .social-icons img:active {
    transform: scale(.9);
}